.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 1000px) {
  nav img {
    width: 200px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  nav li a:hover {
    background-color: #111;
  }

  footer img {
    width: 200px;
  }

  footer article {
    justify-items: center;
    width: 80%;
    margin-left: 10%;
    gap: 20px;
  }

  footer article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }
}

/* Style for cellphones */
@media (min-width: 320px) and (max-width: 480px) {
  nav img {
    width: 100%;
  }

  footer img {
    width: 100%;
  }
  footer .footer-nav {
    display: none;
  }
  footer .footer-social {
    display: none;
  }
  footer article section img {
    display: block;
  }
}

/* Style for tablets */
@media (min-width: 481px) and (max-width: 767px) {
}
